.transfer-container {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  margin-bottom: 20px;
  margin-top: 20px;
}

.confirmation-content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.confirmation-content p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 16px;
}

.confirmation-content p span {
  font-weight: bold;
}

.button-primary {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

